# Windows System Files
Thumbs.db

# SublimeText
*.sublime-workspace

# RubyMine
.idea/workspace.xml
.idea/dictionaries

# SketchUp Backup Files
*.skb
AutoSave_*.skp

# Layout Backup Files
Backup of *.layout

# Gem related files
Gemfile\.lock
